<div class="admin-page">
  <h1>管理者のみのページ</h1>
  <span>
    <%= form_with url: users_path, class: "search-form", method: :get, local: true do |f| %>
      <%= f.text_field :search %>
      <%= f.submit "検索", class: "search-user-btn" %>
    <% end %>
  </span>
  <div>
    <%= paginate @users, class: "pagination" %>
    <table class="users-table">
      <tr>
        <th>name</th>
        <th>id</th>
        <th>作成日</th>
        <th>削除</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user), class: "link-format" %></td>
          <td><%= user.id %></td>
          <td><%= user.created_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "削除", user_path(user), class: "delete-btn", method: :destroy, data: { confirm: '削除しますか？' } %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @users, class: "pagination" %>
  </div>
</div>


