<div class="post-index">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= paginate @posts, class: "pagination" %>
  <% posts.each do |post| %>
    <hr class="partition">
    <h2 class="post-index-user-name">
      <%= link_to post.user.name, user_path(post.user.id), class: "link-format" %>
    </h2>
    <div class="post-index-user-body">
      <%= simple_format(post.body.truncate(100)) %>
      <%= link_to "詳細", post_path(post) %>
    </div>
    <p class="datetime">
      <%= post.created_at.to_s(:datetime_jp) %>
    </p>
    <div id="index_like_<%= post.id %>">
      <%= render "likes/like", post: post %>
    </div>
    <% if current_user == post.user %>
      <%= link_to "削除", post_path(post), class: "delete-post-btn", method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  <% end %>
  <hr>
  <%= paginate @posts, class: "pagination" %>
</div>