<div class="post-show">
  <%= flash[:danger] %>
  <h2>
    <%= link_to @post.user.name, user_path(@post.user.id), class: "link-format" %>
  </h2>
  <p><%= simple_format(@post.body) %></p>
  <%= @post.created_at.to_s(:datetime_jp) %>
  <div id="show_like_<%= @post.id %>">
    <%= render "likes/like", post: @post %>
  </div>
    <%= link_to "削除", post_path(@post), class: "delete-post-btn", method: :delete, data: { confirm: '削除しますか？' } %>
    <hr>
  
  <div class="comment">
      <%= form_with(model: [@post, @comment], local: true, class: "comment-form") do |f| %>
        <%= f.text_area :text %>
        <div class="comment-btn"><%= f.submit "コメントする", class: "btn btn-outline-success" %></div>
      <% end %>

      <% @comments.each do |comment| %>
        <hr class="partition">
        <p>
          <%= comment.user.name %>
          <%= simple_format(comment.text) %>
        </p>
        <%= comment.created_at.to_s(:datetime_jp) %>
        <% if current_user.id === comment.user.id %>
          <%= link_to "削除", post_comment_path(id: comment.id, post_id: comment.post_id), class: "delete-post-btn", method: :delete, data: { confirm: '削除しますか？' } %>
        <% end %>
        
        
        <%# <hr> %>
      <% end %>
  </div>
</div>