<div class="post-show">
  <div class="comment-message">
    <%= flash[:danger] %>
  </div>
  <span class="user-image">
    <%= image_tag @post.user.image.url if @post.user.image? %>
  </span>
  <span>
    <%= link_to @post.user.name, user_path(@post.user.id), class: "link-format" %>
  </span>
  <p class="post-details"><%= simple_format(@post.body) %></p>
  <div class="post-image"><%= image_tag @post.image.url if @post.image? %></div>
  <p class="datetime">
    <%= @post.created_at.to_s(:datetime_jp) %>
  </p>

  <div id="show_like_<%= @post.id %>">
    <%= render "likes/like", post: @post %>
    <span class="comment-icon">
      <i class="far fa-comments" style="color: skyblue"></i><%= @post.comments.count %>
    </span>
  </div>

  <% if current_user == @post.user || current_user.admin == true %>
    <%= link_to "削除", post_path(@post), class: "delete-post-btn", method: :delete, data: { confirm: '削除しますか？' } %>
  <% end %>
  <hr>
  
  <div class="comment">
      <%= form_with(model: [@post, @comment], class: "comment-form") do |f| %>
        <%= f.text_area :text, autocomplete: "text" %>
        <div class="comment-btn"><%= f.submit "コメントする", class: "btn btn-outline-success" %></div>
      <% end %>
      <%= render 'comments_index' %>
  </div>
</div>