<div class="edit-profile">
  <h2><%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url:  registration_path(resource_name), html: { method:  :put }) do |f| %>
      <%= render "devise/shared/error_messages",  resource: resource %>

    <div class="edit-profile-form">
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name, autofocus: true,  autocomplete: "name" %>
    </div>

    <div class="edit-profile-form">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="edit-profile-form">
        <%= f.label :introduction, "自己紹介" %><br />
      <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "自分の事を知ってもらおう！" %>
    </div>

    <div class="edit-profile-form">
      <%= f.label :image, "画像(変更がなければ飛ばしてください)" %>
      <p>
        <%= f.file_field :image, class: "edit-image" %>
      </p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="edit-profile-form">
      <%= f.label :password %> <i>(変更しない場合は記入しないでください)</i><br />
      <%= f.password_field :password, autocomplete:   "new-password" %>
      <% if @minimum_password_length %>
          <br />
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>

    <div class="edit-profile-form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="edit-profile-form">
      <%= f.label :current_password %> <i>(設定を変更するにはパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更", class: "post-btn" %>
    </div>
  <% end %>

  <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいでしょうか?" }, class: "delete-user-btn", method: :delete %></p>
</div>